@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-cyber-bg text-cyber-text min-h-screen;  /* Your current body styles */
    overflow-y: scroll;  /* Enable scrolling */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, WebKit browsers */
  }
}

@layer components {
  .glow-text {
    @apply transition-all duration-300 ease-in-out;
  }

  .glow-text:hover {
    @apply text-cyber-primary shadow-xl shadow-cyber-primary/50 transform scale-105;
  }
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typing-effect {
  overflow: hidden;
  border-right: .15em solid #00ff00;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00ff00; }
}
